backcall
beautifulsoup4
certifi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
et-xmlfile
executing
fonttools
idna
ipykernel
ipython
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib
matplotlib-inline
nest-asyncio
numpy
openpyxl
packaging
pandas
parso
pickleshare
Pillow
pip
platformdirs
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
requests
scipy
setuptools
six
soupsieve
stack-data
tornado
tqdm
traitlets
tzdata
urllib3
wcwidth
fastapi
matplot
Scikit-learn
TensorFlow
FastAPI
Pydantic
SQLAlchemy
Jinja2
Starlette
seaborn
jupyter